h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 10px;
} 
h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 30px;
}
p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
}
a {
font-family:'Roboto Condensed', sans-serif;
text-decoration: none;
}
.nav-bar {
	display: inline-block;
	padding:5px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	text-decoration: none;
	font-style: bold;
	color: #000000;
	float: left;
}
.nav-bar li {
	display:inline;
	text-align: left;
}
